@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
  --main: #063773;
  --myBlue: #69d2ff;
  --myGrey: #777777;
}

#App {
  font-family: "Source Sans Pro";
}

.heading {
  color: #063773;
  border-bottom: 2px solid;
}

#App h2 {
  font-family: "Open Sans" !important;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.heading {
  border-bottom: 2px solid;
  text-align: end;
  padding-bottom: 4px;
}

#App h1 {
  font-family: "Open Sans" !important;
  font-size: 36px;
  font-weight: lighter;
}

.printInfo {
  text-align: center;
  padding-bottom: 50px;
}

@media print {
  .notPrinted {
    display: none;
  }

  .isPrinted {
    display: block;
    box-shadow: none !important;
  }
}
