.eduSection {
  position: relative;
  margin-bottom: 10px;
}

.eduDate {
  display: flex !important;
}

.eduHeader {
  display: flex;
  color: var(--myGrey);
  font-weight: bold;
}

.eduGrad {
  font-size: 18px;
  font-weight: bold;
}
