#main {
  width: 21cm;
  height: 29.7cm;
  font-size: 14px;
  margin: 0px auto;
  display: flex;
  line-height: 1.5em;
  box-shadow: 3px 3px 5px 6px #ccc;
  overflow-wrap: break-word;
}

.personalSection {
  width: 37%;
  background-color: #063773;
  color: white;
}

.rightSide {
  width: 63%;
  padding: 20px;
  list-style-position: inside;
}

.remove {
  color: red;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.addSection {
  color: green;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  border: 1px dashed;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}
