.skillBar {
  margin-top: 5px;
  width: 200px;
  height: 6px;
  z-index: -1;
}

.skillPercentage {
  background-color: white;
  height: 100%;
  z-index: 10;
  border-radius: 10px;
}

.bars-container{
  margin-top: 20px;
}

.skill {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 100%;
  transform: translateX(-4px);
}

.tag {
  padding: 2px 6px;
  border-radius: 20px;
  margin-left: 4px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 14px;

}

